<h1>Student Login Page</h1>

<p><%= flash[:error]%></p>

<%= form_tag('/login') do %>
  <label>Select Student:</label><br>
  <%= collection_select(:student, :name, Student.all, :name, :name) %><br>

  <label>Enter Password:</label><br>
  <%= password_field_tag(:password) %><br>
  <%= submit_tag "Log In" %>
<% end %>
