<h1>Student show page</h1>

<h2>Emissions added by: <%= @student.name %> </h2>

<ul>
  <% @student_emissions.each do |e| %>
  <li><%= link_to "#{e.food.name}", food_path(e.food) %> <%= e.amount %> <%= e.unit %> <a href="<%= "#{e.source}" %>">Data Source</a></li>
  <% end %>
</ul>
