<h1>Student show page</h1>

<h2>Emissions added by: <%= @student.name %> </h2>

<ul>
  <% @student_emissions.each do |e| %>
  <li><%= e.food.name %> <%= e.amount %> <%= e.unit %> Source: <%= e.source %></li>
  <% end %>
</ul>
