<div class="container text-center">
  <h2><%= @food.name %></h2>
  <ul>
    <% @food.emissions.each do |e| %>

        <li><%= e.amount %> <%=e.unit %>, Data Source: <%= "#{e.source}" %>, <%= link_to "Edit emission", edit_emission_path(e) if edit_permission(e) %>, Added by <%= link_to "#{e.student.name}", student_emissions_path(e.student) %></li> <br>

    <% end %>

  </ul>
</div>
