<div class="container text-center">
  <h2><%= @food.name %></h2>
  <ul>
    <% @food.emissions.each do |e| %>
        <li><%= e.amount %> <%=e.unit %>, Source: <%= e.source %>, <%= link_to "Edit emission", edit_emission_path(e) %></li> <br>
    <% end %>
    <%= link_to "Edit #{@food.name}", edit_food_path %>

  </ul>
</div>
