<h1>Edit Emissions </h1>

<%= form_for(@emission) do |f| %>
  <div>
    <%= f.label :amount %>
    <%= f.text_field :amount %><br>
  </div>

  <div>
    <%= f.label :unit %>
    <%= f.select :unit, ['kg CO2e per lb of food', 'lbs of CO2e per serving', 'g of CO2e per serving', 'kg of CO2 per 50 g of protein'] %>
  </div>

  <div>
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>


  <div>
    <p>Select a Food that already exists:</p>
    <%= f.collection_select :food_id, Food.all, :id, :name, include_blank: true %>
  </div>

  <p> Or create a new food:</p>
  <div>
    <%= f.fields_for :food do |food_attributes| %>
      <%= food_attributes.label :name %>
      <%= food_attributes.text_field :name %> <br>

      <%= food_attributes.label :category %>
      <%= food_attributes.select :category, ['Meat', 'Dairy', 'Egg', 'Fruit', 'Vegetable', 'Nuts', 'Legume', 'Mixed dish', 'Fish'] %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
