<h1>Add new emissions data</h1>

<%= render partial: 'layouts/errors', locals: {object: @emission} %> 


<%= form_for(@emission) do |f| %>

<h2>Food Information:</h2><br>
  <div>
    <p>Select a Food that already exists:</p>
    <%= f.collection_select :food_id, Food.all, :id, :name, include_blank: true %>
  </div>

  <div>
    <p>Or create a new food:</p>
    <%= f.fields_for :food do |food_attributes| %>
      <%= food_attributes.label :name %>
      <%= food_attributes.text_field :name %> <br>

      <%= food_attributes.label :category %>
      <%= food_attributes.select :category, ['Meat', 'Dairy', 'Egg', 'Fruit', 'Vegetable', 'Nuts', 'Legume', 'Mixed dish', 'Fish'] %>
    <% end %>
  </div>

  <h2>Emissions Information:</h2>
  <div>
    <%= f.label :amount, "Amount (enter a number)" %>
    <%= f.text_field :amount %><br>
  </div>

  <div>
    <%= f.label :unit %>
    <%= f.select :unit, ['kg CO2e per lb of food', 'lbs of CO2e per serving', 'g of CO2e per serving', 'kg of CO2 per 50 g of protein'] %>
  </div>

  <div>
    <%= f.label :source, 'URL for source of data' %>
    <%= f.text_field :source %>
  </div>

  <%= f.submit "Add emission data" %>
<% end %>
