<h1>Add new emissions data</h1>

<%= form_for(@emission) do |f| %>
  <div>
    <%= f.label :amount %>
    <%= f.text_field :amount %><br>
  </div>
  <div>
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>
  <div>
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>

  <p>Select a Food that already exists:</p>
  <div>
    <%= f.collection_select :food_id, Food.all, :id, :name %>
  </div>

  <p>Or create a new food:</p>
  <div>
    <%= f.fields_for :food do |food_attributes| %>
      <%= food_attributes.label :name %>
      <%= food_attributes.text_field :name %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
