<h1>Add new emissions data</h1>

<%= render partial: 'layouts/errors', locals: {object: @emission} %>

<%= form_for(@emission) do |f| %>

<% if !@emission.food %>
<h2>Food Information:</h2><br>
  <div>
    <%= f.label :food_id, "Select a Food that already exists:" %>
    <%= f.collection_select :food_id, Food.all, :id, :name, include_blank: true %>
  </div>

  <div>
    <p>Or create a new food:</p>
    <%= f.fields_for :food do |food_attributes| %>
      <%= food_attributes.label :name %>
      <%= food_attributes.text_field :name %> <br>

      <%= food_attributes.label :category %>
      <%= food_attributes.select :category, ['', 'Meat', 'Dairy', 'Egg', 'Fruit', 'Vegetable', 'Nuts', 'Legume', 'Mixed dish', 'Fish'] %><br>
    <% end %>
    <h2>Emissions Information:</h2>
  </div>
  <% else %>
    <h4>Enter emission data for <%= @emission.food.name %></h4>
  <% end %>


  <div>
    <%= f.label :amount, "Amount (enter a number)" %>
    <%= f.number_field :amount, class: :text_field, min: 0, step: :any %><br>
  </div>

  <div>
    <%= f.label :unit %>
    <%= f.select :unit, ['kg CO2e per lb of food', 'lbs of CO2e per serving', 'g of CO2e per serving', 'kg of CO2 per 50 g of protein'] %>
  </div>

  <div>
    <%= f.label :source, 'URL for source of data' %>
    <%= f.text_field :source %>
  </div>

  <%= f.submit "Add emission data" %>
<% end %>
