<h1>Add new emissions data</h1><br>

<%= render partial: 'layouts/errors', locals: {object: @emission} %>

<%= form_for(@emission) do |f| %>

  <% if !@emission.food.id %>
    <h4>Enter Food Information:</h4>
    <div>
      <%= f.label :food_id, "Select a Food that already exists:" %>
      <%= f.collection_select :food_id, Food.all, :id, :name, include_blank: true %>
    </div>

    <div>
      <%= f.fields_for :food do |food_attributes| %>
        <%= food_attributes.label :name,  "Or add a new food name"%>
        <%= food_attributes.text_field :name %> <br>

        <%= food_attributes.label :category, "Category for new food:" %>
        <%= food_attributes.select :category, ['', 'Meat', 'Dairy', 'Egg', 'Fruit', 'Vegetable', 'Nuts', 'Legume', 'Mixed dish', 'Fish'] %><br>
      <% end %><br>
      <h4>Enter emission data:</h4>
    </div>

  <% else %>
    <h4>Enter emission data for <%= @emission.food.name %></h4>
      <%= hidden_field(:emission, :food_id) %>
    <% end %>

<%= render partial: "emission_form", locals: {f: f } %>

<% end %>
